#about-me {
}

#resume-download{
    margin-top:50px;
    margin-bottom:50px;
}

#resume-download-button{
    margin-top:10px;
    margin-bottom:30px;
}

#experience {
    margin-top: 100px;
}

.organization-img{
    //border: 1px solid white;
    opacity: 0.85;
    padding:10px;
    margin-top:5px;
    margin-bottom:5px;
    list-style:none;
    margin-bottom:25px;
}

.organization-img:hover{
    //border: 1px solid black;
    opacity: 1.0;
}

.organization-img:active{
    //border: 1px solid black;
    opacity: 1.0;
}