<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/header/header.html'"></div>
<div class="container">
  <div class="row">
    <div id="" class="col-md-12">
        <div class="page-header text-center">
          <h1>Competitions<small></small></h1>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1 text-center" style="padding-top:50px;">
              <div class="event" ng-repeat="competition in competitions">
                  <h3 class="text-center">{{competition.name}} <small>{{competition.host}}</small></h3>
                  <img ng-if="competition.img" class="col-lg-8 col-md-8 col-sm-8 col-xs-12 img-responsive event-img img-center" ng-src="{{competition.img}}">
                  <h4 class="text-center"><small>{{competition.date}}</small></h4>
                  <a class="btn btn-med btn-primary" ng-href="{{competition.link}}">Article</a>
                  <hr>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div ng-include="'components/footer/footer.html'"></div>